{
  "env": {
    "main": {
      "presets": [
        [
          "@tomera/node",
          {
            "module": false,
            "support": "legacy"
          }
        ]
      ],
      "plugins": [["@babel/transform-modules-commonjs", {
        "strict": true
      }]]
    },
    "module": {
      "presets": [
        [
          "@tomera/node",
          {
            "module": false,
            "fill": false,
            "support": "modern"
          }
        ]
      ]
    }
  }
}
